p {
    box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.1);
    border-style: 1px solid #ccc;
    border-radius: 16px;
    border-left: solid #dc3545;
    padding-left: 1rem;
}
h1{
    border-bottom: #dc3545;
}

#present {
    padding-left: 1rem;
    margin-bottom: 1rem;
}


label{
    box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.1);
    border-style: 1px solid #ccc;
    border-radius: 16px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-left: solid #dc3545;
    font-size: 2rem;
}

table{
    width: 50%;
    border-collapse: collapse;
    box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.1);
    margin-left: 3em;
}

td, th{
    border: 1px solid black;
    width: 100px;
    text-align: center;
    height: 50px;
}

#mainnavbar .nav-link:hover {
    color: gray;
}
.navbar.scrolled {
        background: rgb(0, 0, 0);
        opacity: 0.85;
        transition: background 1500ms;
}

.mainhead{
    margin-top: 7rem;
}
